.container {
	max-width: 730px;
	margin-top: 20px;
}
.twitter-typeahead {
    width: 100%;
}
.search-box {
    width: 100%;
}
.search-nav {
	text-align: right;
	padding-right: 0px;
}
.div-created-by,
.div-created-at {
	color: #848484;
}
#comment-created-by,
#comment-created-at {
    font-size: 12px;
    color: #848484;
}
#comment-created-at {
	text-align: right;
}
.div-created-at {
	text-align: right;
}
.div-add-comment {
	text-align: right;
}
.go-home {
	padding-left: 5px;
}
.dropzone {
	border: none;
}
#answerAttachment,
#commentAttachment {
    left: 99999px;
    position: absolute;
    visibility: hidden;
}
.attachment-icon {
	font-size: 2em;
	padding-top: 10px;
}
#div-newest-answers, #div-most-searched {
    padding: 0;
}
.dropzone .dz-message {
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    margin: 40px 0 0;
    padding: 2em 0;
    text-align: center;
}
.tt-suggestion:hover .search-box-answer-title {
	color: #fff;
}
.tt-menu {
	border: 1px solid;
	border-radius: 4px;
	width: 100%;
	margin-top: 5px;
	background-color: #fff;
}
.tt-suggestion {
	padding: 5px 5px 0;
	cursor: pointer;
}
.tt-suggestion:hover {
	background-color: #00ACED;
	color: #fff;
}
.tt-suggestion:hover .search-box-answer-title {
	color: #fff;
}